

    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
               <b>Placeholder</b>
            </div>
            <div class="card-body">
                <em class="card-title">
                   Intet spændende her
                    </em>
                     
            </div>
        </div>
    </div>
  


