@using DataModels
@using Dashboard.Services
@using System.Text.Json
@using Microsoft.AspNetCore.Html
@inject IPowerProductionService _powerproductionservice

<div class="col-xl-3 p-2">
    <div class="card mb-3 h-100">
        <div class="card-header">
            <b>Elproduktion</b>
        </div>
       
            @if (production == null)
            {
                 <Preloader />
            }
            else
            {
                 <div class="card-body">
                <em class="card-title">
                    Elproduktion den seneste time
                </em>
                <ul class="list-group list-group-flush mt-3 mb-2">

                    <li class="list-group-item">
                        Periode start:
                        <span class="float-end">@(production.StartTime != null ? DateTime.Parse(production.StartTime).ToString("HH:mm") : "")</span>
                    </li>
                    <li class="list-group-item">
                        Periode slut:
                        <span class="float-end">@(production.StartTime != null ? DateTime.Parse(production.EndTime).ToString("HH:mm") : "")</span>
                    </li>
                    <li class="list-group-item">
                        @if(production.StartTime != null)
                        {
                            <span>Produktion i perioden: </span><span class="float-end">@(int.Parse(production.EnergyEnd) - int.Parse(production.EnergyStart) + " Watt")</span>
                        }else{
                            <b>Ingen strømproduktion den seneste time</b>
                        }                      
                    </li>
                </ul>
            
                  
                        
                  </div> 
                 <div class="card-footer">
                     <a href="elproduktion" class="btn btn-secondary btn-sm float-end">Se 60 minutter</a>
                 </div>
            }

        
    </div>
</div>

@code {
    private PowerProductionModel production = null;

    protected override async Task OnInitializedAsync()
    {
        production = await _powerproductionservice.getPowerProduction();

    }
}

