
@using DataModels
@using Dashboard.Services
@inject IPowerPriceService _powerpriceservice

    <div class="col-xl-3">
        <div class="card mb-3">
            <div class="card-header">
               <b>Elpris i Vestdanmark</b>
            </div>
            <div class="card-body">
                <em class="card-title">
                   Elpris den kommende time
                    </em>
            @if(data == null)
            {
                <p>Loading...</p>
            }
            else
            { 
                <table class="table">
              
                    <tr>    
                        <td>@data.HourDK</td>
                        <td>@data.SpotPriceDKK</td>
                    </tr>
                    
               
                </table>
            }

            </div>
        </div>
    </div>
@code{
    private PowerPriceModel data = null;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        data = await _powerpriceservice.getPowerPrice();
    }

  }


